@charset "utf-8";
/* CSS Document */

 body {

   font-family: "Georgia", serif;
   color: #000000;
   line-height: 140%;
   margin: 30px;
   background-image: url("page-bg.gif");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-color:#F7F3DE

 }

header h1{
  font-size: 350%;
  color: #7C1A00
  padding: 40px 40px 40px 120px;
  padding-left: 120px;
  background-image: url("header-image-1.gif");

}
